@model Multi_Agent.Application.ViewModels.Customer.NewCustomerVm

@{
    ViewData["Title"] = "EditCustomer";
}

<h1>Edytuj dane Klienta</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHousehold" /> @Html.DisplayNameFor(model => model.IsHousehold)
                </label>
            </div><br />
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostOffice" class="control-label"></label>
                <input asp-for="PostOffice" class="form-control" />
                <span asp-validation-for="PostOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nip" class="control-label"></label>
                <input asp-for="Nip" class="form-control" />
                <span asp-validation-for="Nip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedAt" />
                <input type="hidden" asp-for="ModifiedAt" />
                <input type="hidden" asp-for="CreatedBy" />
                <input type="hidden" asp-for="ModifiedBy" />
                <input type="hidden" asp-for="IsActive" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ewidencja Klientów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
