@model Multi_Agent.Application.ViewModels.Policy.NewPolicyVm

@{
    ViewData["Title"] = "AddPolicy";
}

<h1>Dodaj nową polisę</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPolicy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreatedAt" />
        <input type="hidden" asp-for="CreatedBy" />
        <input type="hidden" asp-for="IsActive" />
            <div class="form-group">
                <label class="control-label">Numer Polisy</label>
                <input asp-for="PolicyNumber" class="form-control" />
                <span asp-validation-for="PolicyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Numer rejestracyjny</label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Data Polisy</label>
                <input asp-for="PolicyDate" class="form-control" value = "@ViewBag.PolicyDate"/>
                <span asp-validation-for="PolicyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Okres polisy OD</label>
                <input asp-for="PolicyDateStart" class="form-control" value="@ViewBag.PolicyDateStart" />
                <span asp-validation-for="PolicyDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Okres polisy DO </label>
                <input asp-for="PolicyDateEnd" class="form-control" value = "@ViewBag.PolicyDateEnd" />
                <span asp-validation-for="PolicyDateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Przypis</label>
                <input asp-for="Premium" class="form-control" />
                <span asp-validation-for="Premium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Inkaso</label>
                <input asp-for="PremiumPaid" class="form-control" />
                <span asp-validation-for="PremiumPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Klient</label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId">  </select>
            </div>
            <div class="form-group">
                <label class="control-label">Towarzystwo ubezpieczeniowe</label>
                <select asp-for="InsuranceCompanyId" class="form-control" asp-items="ViewBag.InsuranceCompanyId">  </select>
                <span asp-validation-for="InsuranceCompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rodzaj płatności</label>
                <select asp-for="PaymentTypeId" class="form-control" asp-items="ViewBag.PaymentTypeId"> </select>
                <span asp-validation-for="PaymentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rodzaj polisy</label>
                <select asp-for="PolicyTypeId" class="form-control" asp-items="ViewBag.PolicyTypeId"> </select>
                <span asp-validation-for="PolicyTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Status polisy</label>
                <select asp-for="PolicyStatusId" class="form-control" asp-items="ViewBag.PolicyStatusId"> </select>
                <span asp-validation-for="PolicyStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentId" class="control-label"></label>
                <select asp-for="AgentId" class="form-control" asp-items="ViewBag.AgentId"> </select>
                <span asp-validation-for="AgentId" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
