@model Multi_Agent.Application.ViewModels.InsuranceCompany.NewInsuranceCompanyVm

@{
    ViewData["Title"] = "AddInsuranceCompany";
}

<h1>Dodaj Towarzystwo Ubezpiczeniowe</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddInsuranceCompany">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Kod Towarzystwa</label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nazwa Towarzystwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ModifiedAt" />
                <input type="hidden" asp-for="ModifiedBy" />
                <input type="hidden" asp-for="CreatedAt" />
                <input type="hidden" asp-for="CreatedBy" />
                <input type="hidden" asp-for="IsActive" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
